<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DockerServletDemo</display-name>
  <servlet>
    <servlet-name>DockerServletDemo</servlet-name>
    <servlet-class>DockerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DockerServlet</servlet-name>
    <url-pattern>/runningconts</url-pattern>
    <url-pattern>/stop</url-pattern>
  </servlet-mapping>
</web-app>